*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family);
	margin: 0px;
}

img,
picture,
svg {
	display: block;
	max-width: 100%;
}

ul,
ol,
button {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	cursor: pointer;
}