.header {
	padding-block: 20px;
	max-width: 335px;
	margin-inline: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header_navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/* gap: 390px; */
}

.favicon_logo {
	width: 28px;
	height: 28px;
	margin-right: 8px;
}

.favicon_link {
	display: inline-flex;
	align-items: center;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	text-decoration-line: none;

	color: #121417;
}

.nav {
	display: none;
}

.nav_list {
	display: flex;
	gap: 28px;
}

.nav_item > a {
	font-size: 16px;
	line-height: 1.25;
	text-decoration-line: none;

	color: #121417;
}

.auth_actions {
	display: none;
	/* display: flex;
	gap: 16px; */
}

.login_button {
	display: inline-flex;
	align-items: center;

	background: transparent;
	border: none;
	
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	color: #121417;
}

.login_logo {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	fill: transparent;
}

.registration_button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 8px;

	border: none;
	border-radius: 12px;
	padding: 14px 39px;
	width: 166px;
	height: 48px;

	background: #121417;
	
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
}

.burger_menu {
	height: 32px;
	width: 32px;
	background: transparent;
	border: none;;
	position: relative;
	z-index: 999;
}

.burger_menu span {
	height: 3px;
	width: 100%;
	background: black;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s, top 0.3s, opacity 0.3s;
}

.burger_menu span:nth-child(1) {
	top: 25%;
}

.burger_menu span:nth-child(3) {
	top: 75%;
}

.burger_menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.burger_menu.active span:nth-child(2) {
	opacity: 0;
}

.burger_menu.active span:nth-child(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.header_modal_overlay {
	position: fixed;
	top: 0;
	left: 768px;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;


	background: white;
	transition: left 0.3s;
}

.header_modal_overlay.active {
	left: 0;
}

.modal_container {
	position: relative;
	top: 72px;
	min-width: 320px;
	max-width: 335px;
	padding-inline: 24px;
}

.modal_nav {}

.modal_nav_list {}

.modal_nav_item {
	text-align: center;
}

.modal_nav_item {}

.modal_login_button {}

.modal_login_logo {
	width: 24px;
	height: 24px;
}

.modal_registration_button {}
