.header {
	padding-block: 20px;
	margin-inline: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header_navigation {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.favicon_logo {
	width: 28px;
	height: 28px;
	margin-right: 8px;
}

.favicon_link {
	display: inline-flex;
	align-items: center;

	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	text-decoration-line: none;

	color: #121417;
}

.nav {
	display: none;
}

.nav_list {
	display: flex;
	gap: 28px;
}

.nav_item > a {
	font-size: 14px;
	line-height: 1.25;
	text-decoration-line: none;

	color: #121417;
}

.displayName,
.displayEmail {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.25;
	color: #121417;
}

.auth_actions {
	display: none;
}

.login_button {
	display: inline-flex;
	align-items: center;

	background: transparent;
	border: none;
	
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25;
	color: #121417;
}

.login_logo {
	width: 20px;
	height: 20px;
	margin-right: 8px;
	fill: transparent;
}

.registration_button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	gap: 8px;

	border: none;
	border-radius: 12px;
	padding: 14px 39px;
	width: 166px;
	height: 48px;

	background: #121417;
	
	font-weight: 700;
	font-size: 14px;
	line-height: 1.25;
	color: #fff;
}

.burger_menu {
	height: 28px;
	width: 28px;
	background: transparent;
	border: none;;
	position: relative;
	z-index: 2;
}

.burger_menu span {
	height: 2.5px;
	width: 100%;
	background: black;
	border-radius: 25px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s, top 0.3s, opacity 0.3s;
}

.burger_menu span:nth-child(1) {
	top: 25%;
}

.burger_menu span:nth-child(3) {
	top: 75%;
}

.burger_menu.active span:nth-child(1) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}

.burger_menu.active span:nth-child(2) {
	opacity: 0;
}

.burger_menu.active span:nth-child(3) {
	top: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}

.header_modal_overlay {
	position: fixed;
	top: 0;
	left: 768px;
	width: 100%;
	height: 100%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;

	background: white;

	transition: left 0.3s;
}

.header_modal_overlay.active {
	left: 0;
}

.modal_container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	
	position: relative;
	top: 72px;
	min-width: 320px;
	max-width: 335px;
	padding-inline: 24px;
}

.modal_nav_list {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.modal_nav_item > a {
	line-height: 1.25;
	text-decoration-line: none;

	color: #121417;
}

.modal_login_button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	font-weight: 700;
	line-height: 1.25;
	color: #121417;

	background: white;
	border: 2px solid rgba(18, 20, 23, 0.1);
	border-radius: 12px;
	height: 48px;
}

.modal_login_logo {
	width: 24px;
	height: 24px;
	fill: transparent;
}

.modal_registration_button {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

	border: none;
	border-radius: 12px;
	height: 48px;

	background: #121417;
	
	font-weight: 700;
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
}

@media (min-width: 768px) {
	.header {
		width: 720px;
		padding-inline: 32px;
	}

	.favicon_link {
		margin-right: 28px;
	}

	.header_modal_overlay,
	.burger_menu {
		display: none;
	}

	.nav {
		display: block;
	}

	.auth_actions {
		display: flex;
		gap: 16px;
	}
}

@media (min-width: 1440px) {
	.header {
		width: 1184px;
		padding-inline: 32px;
	}

	.header_navigation {
		gap: 390px;
	}

	.favicon_link {
		font-size: 20px;
		margin-right: 0;
	}

	.nav_item > a,
	.displayName,
	.displayEmail,
	.login_button,
	.registration_button {
		font-size: 16px;
	}
}