.filter_container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.filter_container > li > p {
	font-weight: 500;
	font-size: 12px;
	line-height: 1.28571;
	color: #8a8a89;
}

.container {
	width: 100%;
}

.control {
	border-radius: 14px;
	padding: 16px;
	background: #fff;
}

.control,
.placeholder,
.option,
.selectedOption,
.noOptionsMessage {
	font-weight: 500;
	font-size: 16px !important;
	line-height: 1.11111;
	color: #121417;
}

.control,
.option,
.selectedOption {
	cursor: pointer !important;
}

.menuList {
	margin-top: 8px;

	display: flex;
	flex-direction: column;
	gap: 8px;
	border-radius: 12px;
	padding: 14px 18px;
	background: #fff;
}

.option {
	color: rgba(18, 20, 23, 0.2);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.selectedOption {
	color: #121417;
}

@media (min-width: 768px) {
	.filter_container {
		flex-direction: row;
		justify-content: center;
	}

	.container.lang {
		width: 221px;
	}

	.container.level {
		width: 198px;
	}

	.container.price {
		width: 124px;
	}
}

@media (min-width: 1440px) {
	.filter_container > li > p {
		font-size: 14px !important;
	}

	.control,
	.placeholder,
	.option,
	.selectedOption,
	.noOptionsMessage {
		font-size: 18px !important;
	}

	.filter_container {
		justify-content: flex-start;
	}
}