.form > p {
	font-weight: 500;
	font-size: 32px;
	line-height: 1.2;
	letter-spacing: -0.02em;
	color: #121417;

	margin-bottom: 40px;
}

.buttons {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.buttons > button {
	border-radius: 12px;
	background: #f4c550;
	height: 60px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.55556;
	color: #121417;
}

.buttons > button:last-child {
	background: #8a8a89;
}

.buttons > button:hover,
.buttons > button:focus {
	background: #ffdc86;
}

.buttons > button:hover:last-child,
.buttons > button:focus:last-child {
	background: #afafaf;
}

@media (min-width: 1440px) {
	.buttons {
		flex-direction: row;
		justify-content: space-between;
	}

	.buttons > button {
		font-size: 18px;
		width: 183px;
	}

	.form > p {
		font-size: 40px;
	}
}